<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-5">
    Edit <span class="text-muted"><%= campground.title %></span>
  </h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>/?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          placeholder="Campground Title"
          value="<%= campground.title%>"
          required
        />
        <label class="form-label" for="title">Title</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="Campground Location"
          value="<%= campground.location%>"
          required
        />
        <label for="location">Location</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <input
          id="price"
          type="number"
          class="form-control"
          name="campground[price]"
          placeholder="Price ($)"
          value="<%= campground.price%>"
          required
        />
        <label for="price">Price ($)</label>
        <div id="emailHelp" class="form-text">Prices are in US Dollars.</div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          placeholder="Campground Description"
          style="height: 100px"
          required
        >
<%= campground.description%>
        </textarea>
        <label for="location">Description</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="imageUpload"
          name="image"
          multiple
          placeholder="Add more image(s)"
        />
        <label class="input-group-text" for="imageUpload">
          Add more image(s)
        </label>
      </div>
      <div class="mb-3">
        <% campground.images.forEach((img, i) => { %>
        <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="" />
        <input
          type="checkbox"
          class="btn-check"
          name="deleteImages[]"
          value="<%= img.filename %>"
          id="image-<%= i %> "
          autocomplete="off"
        />
        <label class="btn btn-sm btn-outline-danger" for="image-<%= i %> ">
          Delete? </label
        ><br />
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Save</button>
        <a href="/campgrounds/<%= campground._id %> " class="btn btn-light">
          Back to <%= campground.title %>
        </a>
      </div>
    </form>
  </div>
</div>
