<% layout('layouts/boilerplate') %>
<h1 class="mb-4">Campgrounds</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% for (let campground of campgrounds) {%>
  <div class="col">
    <div class="card h-100">
      <img
        src="<%= campground.images[0].url %>"
        class="card-img-top"
        alt="..."
        height="250"
      />
      <div class="card-body">
        <h5 class="card-title text-primary"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text text-muted">
          <i class="bi bi-geo-alt"></i>
          <small><%= campground.location %></small>
        </p>
        <a
          href="/campgrounds/<%= campground._id %>"
          class="btn btn-primary"
          role="button"
        >
          View <%= campground.title %>
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>
